<h2><%= @artist.name %></h2>

<h3>Albums</h3>

<table class="table table-striped">
  <tr>
    <td>
      Title
    </td>
    <td>
      Year
    </td>
  </tr>

  <% @artist.albums.each do | album | %>
  <tr>
    <td>
      <a href="/albums/<%= album.id %>"><%= album.title %></a>
    </td>
    <td>
      <%= album.year %>
    </td>
  </tr>
  <% end %>
  
