<div class="row text-center">
  <h2>Album Organizer</h2>
</div>

<div class="row">
  <a class="btn btn-primary" href="/artists">Browse by Artists</a>
  <a class="btn btn-primary" href="/albums">Browse by Albums</a>
  <a class="btn btn-primary" href="/add_album">Add a New Album</a>
  <a class="btn btn-primary" href="/add_artist">Add a New Artist</a>
</div>
<!-- # Index
  # Browse Artists
  # Browse Albums
  # Add Artist
  # Add Song
  # Add Album


# Artists
  #
# Albums -->
